<h1><strong><%= @venue.venuename %></strong><small> Add Concerts</small></h1>


<form action="/venues/<%= @venue.id() %>" method="post">
   <input id="venue_id" name="venue_id" type="hidden" value="<%= @venue.id() %>">

  <label for='bandname'><h4><strong>Band's Name: </strong></h4></label>
  <input id='bandname' name='bandname' type='text' placeholder= 'Bombay Bicycle Club'>

  <label for='concert_date'><h4><strong>Concert Date: </strong></h4></label>
  <input id='concert_date' name='concert_date' type='text' placeholder= 'year-mm-dd'>


  <button type="submit" class="btn btn-success">Add concert</button>
</form>

<h3><strong>Upcoming concerts here</strong></h3>
<ul>
  <% if @venue.concerts.any?() %>
  <% @venue.concerts.each() do |concert| %>
  <li><h4><%= concert.bandname() %> <strong>-</strong> <%= concert.concert_date() %><h4></li>
  <% end %>
  <% else %>
  <%= "No Events Scheduled Here" %>
  <% end %>
</ul>
